<div id="sidenav-toggle">
    <span class="traco1"></span>
    <span class="traco2"></span>
    <span class="traco3"></span>
</div>
<div class="logo-group text-center">
    <a href="/"><img class="img-fluid" src="/img/icones/digital_640px.png" alt="Logo: digital do dedo"></a>
    <a class="navbar-brand d-none d-md-inline-block" href="/">PAPILOSCOPIANDO</a>
</div>