<div id="toggleNavegacao">
    <div class="traco1"></div>
    <div class="traco2"></div>
    <div class="traco3"></div>
</div>

<img class="img-fluid" src="/img/icones/digital_640px.png" alt="Logo: digital do dedo">
<a class="navbar-brand" href="/"><span class="transform90">The</span> FINGER PRINT</a>