<div class="grupoNavegacao mb-3">
    <div id="toggleNavegacao">
        <div class="traco1"></div>
        <div class="traco2"></div>
        <div class="traco3"></div>
    </div>
</div>

<img class="img-fluid d-inline" src="/img/icones/digital_640px.png" alt="Logo: digital do dedo">
<a class="navbar-brand d-inline" href="/"><span class="transform90">The</span> FINGER PRINT</a>
<hr class="mt-5">