<div id="sidenav-toggle">
    <span class="traco1"></span>
    <span class="traco2"></span>
    <span class="traco3"></span>
</div>
<div class="logo-group text-center">
    <a href="/"><img class="img-fluid" src="/img/icones/papiloscopiando-logo.png" alt="Logo: imagem de uma digital"></a>
    <a class="navbar-brand" href="/">papiloscopiando</a>
</div>