<ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/sobre">Sobre</a></li>
    <li><a href="/autor">Autor</a></li>
    <li><a href="/videos">Vídeos</a></li>
    <li><a href="/anunciantes">Anunciantes</a></li>
    <li><a href="/contato">Contato</a></li>
</ul>