<ul>
    <li><a href="/"><i class="fas fa-home"></i> Inicio</a></li>
    <li><a href="/sobre"><i class="fas fa-desktop"></i> Sobre</a></li>
    <li><a href="/autor"><i class="fas fa-book"></i> Autor</a></li>
    <li><a href="/videos"><i class="fas fa-video"></i> Vídeos</a></li>
    <li><a href="/anunciantes"><i class="fas fa-chart-line"></i> Anunciantes</a></li>
    <li><a href="/contato"><i class="fas fa-at"></i> Contato</a></li>
</ul>