/* Importação de fontes */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

html, body {
    height: 100%;
}
/* LAYOUT DA PÁGINA */
/* - Header */
.barraNavTopo div:nth-child(1){
    background-color: rgba(204, 72, 72, 0.986);
}
.barraNavTopo a:link, .barraNavTopo a:visited {
    color: #fff;
}
.barraNavSocial {
    /* Fica escondido. Aparece ao
    clicar no link Redes Sociais. */
    /*display: none;*/
    background-color: #3e4444;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.barraNavSocial li {
    display: inline;
    padding-right: .5rem;
}
.barraNavSocial ul {
    list-style: none;
    margin-bottom: 0rem;
}
.barraNavSocial a {
    text-decoration-line: none;
}
.barraNavTopo .linkRedeSocial:link,
.barraNavTopo .linkRedeSocial:visited {
    color: #fff;
}
/* - Bootstrap (separar em novo arquivo) */
.navbar-brand {
    font-size: 1.6rem;
    font-family: 'Playfair Display', serif;
}
.barraNavTopo .nav-link {
    font-family: 'Roboto', sans-serif;
}