html, body {
    height: 100%;
}

header {
    position: relative;
    height: 100px;
    border-bottom: 1px solid black;
}

.social-networks {
    position: absolute;
    right: 0;
    bottom: 0;
}

img {
    width: 100%;
    height: 50%;
}