<main class="container about">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <h1>Sobre o blog</h1>
            <p>
                Este Blog foi criado para falar sobre a PAPILOSCOPIA, ciência que
                trata da identificação humana através da análise das impressões
                papilares, presentes na polpa dos dedos, palmas das mãos e plantas
                dos pés e que são únicas em cada indivíduo.
            </p>
        </div>
    </div>
</main>