<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <% include ./partials/head %>
</head>
<body>
    <header class="container-fluid barraNavTopo pt-3 pb-3">
        <% include ./partials/header %>
    </header>
    <!-- Menu de navegação esquerdo -->
    <nav class="navbarLateral">
        <% include ./partials/sidenavbar %>
    </nav>
    <main class="container about">
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <div class="description">
                    <h5>Sobre o blog</h5>
                    <p>
                        Este Blog foi criado para falar sobre a PAPILOSCOPIA, ciência que
                        trata da identificação humana através da análise das impressões
                        papilares, presentes na polpa dos dedos, palmas das mãos e plantas
                        dos pés e que são únicas em casa indivíduo.
                    </p>
                </div>
            </div>
        </div>
    </main>
    <footer class="container-fluid">
        <% include ./partials/footer %>
    </footer>

    <% include ./partials/scripts %>
</body>
</html>
