<main class="container about">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <div class="description">
                <h4>Sobre o blog</h4>
                <p>
                    <em>Este Blog foi criado para falar sobre a PAPILOSCOPIA, ciência que
                    trata da identificação humana através da análise das impressões
                    papilares, presentes na polpa dos dedos, palmas das mãos e plantas
                    dos pés e que são únicas em cada indivíduo.</em>
                </p>
            </div>
        </div>
    </div>
</main>