<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <% include ./partials/head %>
    <style>
        p {
            color: rgba(0,0,0,0.8);
            font-weight: 500;
        }
    </style>
</head>
<body>
    <header class="container-fluid barraNavTopo pt-3 pb-3">
        <% include ./partials/header %>
    </header>
    <!-- Menu de navegação esquerdo -->
    <nav class="navbarLateral">
        <% include ./partials/sidenavbar %>
    </nav>
    <main class="container advertisers">
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <div>
                    <h4>Anunciantes</h4>
                    <p>
                        <em>Quer anunciar seu serviço ou produto aqui em <a href="/">Papiloscopiando</a>?
                        Envie uma mensagem através da página <a href="/contato">contato</a> ou
                        pelo e-mail
                        (<a href="mailto:blog.papiloscopiando@gmail.com">blog.papiloscopiando@gmail.com</a>).</em>
                    </p>
                </div>
            </div>
        </div>
    </main>
    <footer class="container-fluid">
        <% include ./partials/footer %>
    </footer>

    <% include ./partials/scripts %>
</body>
</html>
