<main class="container advertisers">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <h4>Anunciantes</h4>
            <p>
                Quer anunciar seu <b>serviço</b> ou <b>produto</b> aqui em <a href="/">Papiloscopiando</a>?
                Envie uma mensagem através da página <a href="/contato">contato</a> ou
                pelo e-mail:
                <a href="mailto:blog.papiloscopiando@gmail.com">blog.papiloscopiando@gmail.com</a>.
            </p>
        </div>
    </div>
</main>