<main class="container author">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <div>
                <h1>Autor</h1>
                <div class="author-info">
                    <div class="avatar-container">
                        <img class="avatar-img"
                            src="https://s3-sa-east-1.amazonaws.com/blog-papiloscopiando/blog/autor/avatar_150px.jpg"
                            alt="Retrato de Brasilio" />
                    </div>
                    <div class="author-resume">
                        <p>
                            Brasilio Caldeira Brant, Papiloscopista Policial Federal, formado
                            pela Academia Nacional de Polícia em 1985, atuando principalmente
                            nos seguintes temas Papiloscopia e Representação Facial Humana.
                            Professor dessas áreas na Academia Nacional de Polícia e em curso
                            de Pós-Graduação em Perícias Forenses na matéria fundamentos da
                            Perícia Papiloscópica e Representação Facial Humana. É também
                            palestrante dessas áreas.
                        </p>
                    </div>
                </div>
                <a class="lattes" href="http://lattes.cnpq.br/0668507929623634" target="_blank">Currículo Lattes</a>
            </div>
            <h5>Siga-me nas redes sociais</h5>
            <div class="social-flex-container">
                <div class="social-flex-items">
                    <a href="https://facebook.com/brasilio.brant" target="_blank"><i class="fab fa-facebook"></i></a>
                </div>
                <div class="social-flex-items">
                    <a href="https://linkedin.com/in/brasilio-brant-270b0733" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="social-flex-items">
                    <a href="https://instagram.com/brasiliobrant" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</main>