<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <% include ./partials/head %>
</head>
<body>
    <header class="container-fluid barraNavTopo pt-3 pb-3">
        <% include ./partials/header %>
    </header>
    <!-- Menu de navegação esquerdo -->
    <nav class="navbarLateral">
        <% include ./partials/sidenavbar %>
    </nav>
    <main class="container author">
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <div class="description">
                    <h5>Quem é o autor autor?</h5>
                    <p>
                        Brasilio Caldeira Brant, Papiloscopista Policial Federal, formado
                        pela Academia Nacional de Polícia em 1985, atuando principalmente
                        nos seguintes temas Papiloscopia e Representação Facial Humana.
                        Professor dessas áreas na Academia Nacional de Polícia e em curso
                        de Pós-Graduação em Perícias Forenses na matéria fundamentos da
                        Perícia Papiloscópica e Representação Facial Humana. É também
                        palestrante dessas áreas.
                    </p>
                </div>
            </div>
        </div>
    </main>
    <footer class="container-fluid">
        <% include ./partials/footer %>
    </footer>

    <% include ./partials/scripts %>
</body>
</html>
