<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <% include ./partials/head %>
</head>
<body>
    <header class="container-fluid barraNavTopo pt-3 pb-3">
        <% include ./partials/header %>
    </header>
    <!-- Menu de navegação esquerdo -->
    <nav class="navbarLateral">
        <% include ./partials/sidenavbar %>
    </nav>
    <main class="container contentVersion2">
        <h5>Redes sociais</h5>
        <ul class="post-social">
            <li><a><i class="fab fa-facebook-in"></i></a></li>
            <li><a><i class="fab fa-linkedin-in"></i></a></li>
            <li><a><i class="fab fa-instagram-in"></i></a></li>
        </ul>
        <h2>Me envie uma mensagem</h2>
        <form action="/contact"
        method="post"
        id="contactForm">
            <div class="formGroup">
                <label for="name">Nome</label>
                <input type="text" name="name" id="name" required />
            </div>
            <div class="formGroup">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required />
            </div>
            <div class="formGroup">
                <label for="subject">Assunto</label>
                <input type="text" name="subject" id="subject" required />
            </div>
            <div class="formGroup">
                <label for="number">Telefone</label>
                <input type="text" name="number" id="number" required />
            </div>
            <div class="formGroup">
                <label for="message">Mensagem</label>
                <textarea  id="message" required></textarea>
            </div>
            <button type="submit">Enviar</button>
        </form>
    </main>
    <footer class="container-fluid">
        <% include ./partials/footer %>
    </footer>

    <% include ./partials/scripts %>
</body>
</html>
