<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <% include ./partials/head %>
</head>
<body>
    <header class="container-fluid barraNavTopo pt-3 pb-3">
        <% include ./partials/header %>
    </header>
    <!-- Menu de navegação esquerdo -->
    <nav class="navbarLateral">
        <% include ./partials/sidenavbar %>
    </nav>
    <footer class="container-fluid text-center">
        <% include ./partials/footer %>
    </footer>

    <% include ./partials/scripts %>
</body>
</html>
