@import 'helpers/mixins';
@import 'helpers/variaveis';
@import 'componentes/navbar';
@import 'componentes/social';
@import 'componentes/posts';
@import 'componentes/footer';
@import 'paginas/index';
html, body {height: 100%;}
body {
    margin: 0;
    background: rgba(255,255,255,1);
}
main {
    min-height: 100%;
    padding: {
        top: 7rem;
        bottom: 4.1rem;
    }
}
/* .main-about,
.main-author,
.main-videos,
.main-advertisers,
.main-contact {
    min-height: 100%;
    padding: {
        top: 7rem;
        bottom: 4.1rem;
    }
} */
.main-home {
    padding: {
        top:1.5rem;
        bottom: 1rem;
    }
}
/* overriding bootstrap */
main.container-fluid {
    padding: {
        right: 0;
        left: 0;
    }
}
.navbar-brand {
    font: {family: $playfair;}
}
div[data-type="static_image"] {
    img {
        width: 100%;
        height: auto;
    }
}
