// Font-awesome
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
// Bootstrap framework
@import "../../node_modules/bootstrap/scss/bootstrap";
// My sass
@import 'helpers/mixins';
@import 'helpers/variaveis';
@import './animations';
@import 'componentes/tipografia';
@import 'componentes/image';
@import 'componentes/navbar';
@import 'componentes/social';
@import 'componentes/posts';
@import 'componentes/footer';
@import 'paginas/todas';
html, body {height: 100%;}
body {
    margin: 0;
    background: rgba(255,255,255,1);
}
main {
    min-height: 100%;
    padding: {
        top: 7rem;
        bottom: 4.1rem;
    }
}
.main-home {
    padding: {
        top:1.5rem;
        bottom: 1rem;
    }
}
a.img-src-link, .img-description {
    color: gray;
}
a.img-src-link:link,
a.img-src-link:visited {
    text-decoration: underline;
}
/* overriding bootstrap */
main.container-fluid {
    padding: {
        right: 0;
        left: 0;
    }
}
.navbar-brand {
    font: {family: $playfair;}
}
.post-body div[data-type="static_image"] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 32px;
    img {
        max-width: 100%;
        height: auto;
    }
}
