@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Lora");
.barraNavTopo {
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.95);
  z-index: 2; }

.logo-group img {
  height: 30px; }
.logo-group .navbar-brand {
  border-bottom: 3px solid #D83E3E;
  font-weight: 800;
  letter-spacing: 2px;
  vertical-align: middle;
  font-size: 1.5rem; }
  .logo-group .navbar-brand:link, .logo-group .navbar-brand:visited {
    color: #253069; }

/* toggler used to open sidenav */
#sidenav-toggle {
  display: inline-block;
  position: fixed;
  width: 25px;
  height: 25px;
  vertical-align: middle; }
  #sidenav-toggle:hover {
    cursor: pointer; }
  #sidenav-toggle .traco1, #sidenav-toggle .traco2, #sidenav-toggle .traco3 {
    position: absolute;
    width: 100%;
    height: 3px;
    background: #D83E3E;
    border-radius: 4px;
    transition-duration: 0.5s; }
  #sidenav-toggle .traco1 {
    top: 0; }
  #sidenav-toggle .traco2 {
    top: 50%; }
  #sidenav-toggle .traco3 {
    bottom: 0; }
  #sidenav-toggle.abreFechaMenu .traco1, #sidenav-toggle.abreFechaMenu .traco3 {
    background: #313638; }
  #sidenav-toggle.abreFechaMenu .traco1 {
    top: 50%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  #sidenav-toggle.abreFechaMenu .traco2 {
    background: rgba(0, 0, 0, 0); }
  #sidenav-toggle.abreFechaMenu .traco3 {
    top: 50%;
    -webkit-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg); }

.navbarLateral {
  height: 100%;
  width: 190px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -190px;
  background: #253069;
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: 1.5px 0px rgba(0, 0, 0, 0.1); }
  .navbarLateral hr {
    background: white; }
  .navbarLateral ul {
    margin-top: 80px;
    padding-left: 0; }
    .navbarLateral ul li {
      letter-spacing: 1.2px;
      font-weight: 500;
      list-style: none;
      cursor: pointer;
      padding-top: 1rem;
      padding-bottom: 1rem; }
      .navbarLateral ul li:hover {
        background: white; }
        .navbarLateral ul li:hover a {
          color: #313638; }
      .navbarLateral ul li a {
        margin-left: 1rem;
        font-size: 1.2rem;
        color: white;
        text-decoration: unset; }

.social .compartilhar {
  text-align: center; }
  .social .compartilhar a {
    margin-left: 1rem;
    margin-right: 1rem; }

.fechado {
  height: 0;
  overflow: hidden; }

main.container-fluid {
  padding-right: 0;
  padding-left: 0; }

.content {
  margin-top: 7rem;
  margin-bottom: 2rem; }

.post {
  /* INDEX PAGE */
  /* POST PAGE */ }
  .post h3 > a, .post h6, .post .summary {
    color: #313638; }
  .post .summary-header a:hover {
    color: #313638; }
  .post .summary {
    text-align: justify; }
  .post .post-header {
    margin-bottom: 1.4rem; }
    .post .post-header a:link, .post .post-header a:hover {
      color: rgba(0, 0, 0, 0.8); }
    .post .post-header p {
      color: rgba(0, 0, 0, 0.5); }
    .post .post-header .post-header-author-img {
      position: relative;
      float: left;
      margin-right: 8px;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background: gray; }
  .post .post-body p {
    text-align: justify; }

.post-social {
  position: relative;
  list-style: none;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.02);
  min-height: 1rem;
  text-align: center; }
  .post-social li {
    display: inline;
    vertical-align: middle;
    margin-right: 0.5rem; }
    .post-social li a {
      font-size: 1.2rem; }
      .post-social li a, .post-social li a:hover {
        color: rgba(0, 0, 0, 0.5); }

.post-comments {
  min-height: 2rem;
  background: rgba(0, 0, 0, 0.02); }

.pagination a {
  color: #313138; }
  .pagination a:hover {
    color: #313138; }

footer {
  background: #313138;
  padding: 1rem; }
  footer p {
    color: rgba(200, 200, 200, 0.8);
    font-size: 0.8rem; }
    footer p a {
      color: #17CC6A; }
      footer p a:hover {
        text-decoration: none;
        color: #17CC6A; }

body {
  margin: 0; }

/* página principal */
body {
  background: white; }

/* bootstrap */
.navbar-brand {
  font-family: "Playfair Display", serif; }

/*# sourceMappingURL=output.css.map */
