.barraNavTopo {
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.95);
  z-index: 2; }

.logo-group img {
  height: 30px; }
.logo-group .navbar-brand {
  border-bottom: 3px solid #D83E3E;
  font-weight: 800;
  letter-spacing: 2px;
  vertical-align: middle;
  font-size: 1.5rem; }
  .logo-group .navbar-brand:link, .logo-group .navbar-brand:visited {
    color: #253069; }

/* toggler used to open sidenav */
#sidenav-toggle {
  display: inline-block;
  position: fixed;
  width: 25px;
  height: 25px;
  vertical-align: middle; }
  #sidenav-toggle:hover {
    cursor: pointer; }
  #sidenav-toggle .traco1, #sidenav-toggle .traco2, #sidenav-toggle .traco3 {
    position: absolute;
    width: 100%;
    height: 3px;
    background: #D83E3E;
    border-radius: 4px;
    transition-duration: 0.5s; }
  #sidenav-toggle .traco1 {
    top: 0; }
  #sidenav-toggle .traco2 {
    top: 50%; }
  #sidenav-toggle .traco3 {
    bottom: 0; }

.navbarLateral {
  height: 100%;
  width: 190px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -190px;
  background: #253069;
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: 1.5px 0px rgba(0, 0, 0, 0.1); }
  .navbarLateral hr {
    background: white; }
  .navbarLateral ul {
    margin-top: 80px;
    padding-left: 0; }
    .navbarLateral ul li {
      letter-spacing: 1.2px;
      font-weight: 500;
      list-style: none;
      cursor: pointer;
      padding-top: 1rem;
      padding-bottom: 1rem; }
      .navbarLateral ul li:hover {
        background: white; }
        .navbarLateral ul li:hover a {
          color: #313638; }
      .navbarLateral ul li a {
        margin-left: 1rem;
        font-size: 1.2rem;
        color: white;
        text-decoration: unset; }

.social .compartilhar {
  text-align: center; }
  .social .compartilhar a {
    margin-left: 1rem;
    margin-right: 1rem; }

.fechado {
  height: 0;
  overflow: hidden; }

.post .post-header {
  margin-bottom: 1.4rem; }
  .post .post-header a:link, .post .post-header a:hover {
    color: rgba(0, 0, 0, 0.8); }
  .post .post-header p {
    color: rgba(0, 0, 0, 0.5); }
  .post .post-header .post-header-author-img {
    position: relative;
    float: left;
    margin-right: 8px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: gray; }
.post .post-body p {
  text-align: justify; }

.after-content {
  position: relative;
  background: rgba(0, 0, 0, 0.02); }

.share-title {
  position: relative;
  display: block;
  width: 90px;
  top: 25px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5); }

.post-social {
  position: relative;
  list-style: none;
  padding-top: 3rem;
  padding-bottom: 3rem;
  min-height: 1rem;
  text-align: center; }
  .post-social li {
    display: inline;
    vertical-align: middle;
    margin-right: 0.5rem; }
    .post-social li a {
      font-size: 1.2rem; }
      .post-social li a, .post-social li a:hover {
        color: rgba(0, 0, 0, 0.5); }

.post-comments {
  min-height: 2rem;
  padding-bottom: 3rem; }

.docs {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .docs .doc-item {
    font-size: 40px;
    margin: 0 15px 0 0; }
    .docs .doc-item:link, .docs .doc-item:visited {
      color: rgba(0, 0, 0, 0.5); }
    .docs .doc-item:hover {
      color: rgba(0, 0, 0, 0.8); }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #253069;
  padding: 1rem; }
  footer div {
    text-align: center; }
  footer p {
    color: white;
    font-size: 0.8rem; }
    footer p a {
      font-weight: 700; }
      footer p a:hover, footer p a:link, footer p a:visited {
        color: #D83E3E; }

.blog-footer-social a {
  margin-right: 16px; }
.blog-footer-social a:link, .blog-footer-social a:hover, .blog-footer-social a:visited {
  color: white; }

.portrait-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start; }

.portrait {
  max-width: 100%;
  height: auto;
  object-fit: contain; }

@media screen and (min-width: 576px) {
  .portrait-text {
    flex-wrap: nowrap; }

  .portrait-container {
    margin-right: 15px; } }
/* Video */
.videos-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }

.video-container {
  width: 100%;
  margin-bottom: 25px; }
  @media screen and (min-width: 576px) {
    .video-container {
      width: 290px;
      margin-right: 25px; } }

.social-flex-container {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 15px;
  padding-bottom: 15px; }
  .social-flex-container div {
    width: 25px;
    height: 25px;
    margin-right: 15px; }
  .social-flex-container a:link, .social-flex-container a:visited {
    color: gray; }
  .social-flex-container a:hover {
    color: #253069; }
  .social-flex-container i {
    font-size: 25px; }

.input-groups-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.formGroup {
  margin-bottom: 15px;
  width: 100%; }
  @media screen and (min-width: 768px) {
    .formGroup {
      width: 40%; } }

input {
  padding: 12px; }

input, label, textarea {
  display: block;
  width: 100%; }

#contactForm button {
  background: white;
  outline-color: gray;
  border: 1px solid #253069;
  color: #253069;
  font-weight: 500;
  cursor: pointer;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem; }
  #contactForm button:hover {
    background: #253069;
    color: white; }

/* PAGINA PRINCIPAL */
.index-main-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: .9; }

.publication-section {
  margin-bottom: 32px; }

.publication-section-title {
  color: #253069;
  margin-bottom: 1rem; }

.preview {
  margin-bottom: 1rem; }

.preview-img {
  padding-right: 0;
  padding-left: 0;
  text-align: center;
  height: 220px;
  background: rgba(0, 0, 0, 0.02); }
  .preview-img img {
    height: 100%;
    object-fit: cover; }

.preview-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: .5rem; }
  @media screen and (min-width: 1200px) {
    .preview-info {
      margin-top: 0; } }

.preview-title, .preview-author {
  display: block; }

.preview-title {
  font-weight: 600; }
  .preview-title:link, .preview-title:visited {
    color: #2E44B5; }

.preview-title:hover {
  color: #5262B5; }

.ler-mais {
  text-align: center;
  margin-top: 5px; }
  .ler-mais a {
    font-weight: 500;
    border: 1px solid #5262B5;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 16px;
    padding-right: 16px; }
    .ler-mais a:link, .ler-mais a:visited {
      text-decoration: none;
      color: #5262B5; }
    .ler-mais a:hover {
      background: #5262B5;
      color: white; }

.pagination a {
  color: #313138; }
  .pagination a:hover {
    color: #313138; }

.sidebar-section {
  display: flex;
  flex-direction: column; }

.autor-do-blog {
  width: 100%;
  color: #253069;
  font-size: 1.5rem;
  text-align: center;
  border-top: 1px solid #5262B5;
  margin-bottom: .3rem; }

.sidebar-author {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .sidebar-author img {
    margin-bottom: .2rem; }

.author-name:link,
.author-name:visited {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none; }
  .author-name:link:hover,
  .author-name:visited:hover {
    color: black; }

html, body {
  height: 100%; }

body {
  margin: 0;
  background: white; }

main {
  min-height: 100%;
  padding-top: 7rem;
  padding-bottom: 4.1rem; }

/* .main-about,
.main-author,
.main-videos,
.main-advertisers,
.main-contact {
    min-height: 100%;
    padding: {
        top: 7rem;
        bottom: 4.1rem;
    }
} */
.main-home {
  padding-top: 1.5rem;
  padding-bottom: 1rem; }

/* overriding bootstrap */
main.container-fluid {
  padding-right: 0;
  padding-left: 0; }

.navbar-brand {
  font-family: "Playfair Display", serif; }

div[data-type="static_image"] img {
  width: 100%;
  height: auto; }

/*# sourceMappingURL=output.css.map */
