.img-fluid {
    width: 100%;
    height: auto;
}
.hero-image-bg {
    background-image: url('https://s3-sa-east-1.amazonaws.com/blog-papiloscopiando/blog/principal/pagina-principal-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: .9;
}