.barraNavTopo {
    background: white;
    box-shadow: 0px 2px rgba(0,0,0,0.1);
}
.logo-group {
    img {
        height: 30px;
    }
    .navbar-brand {
        border-bottom: 3px solid $red;
        font-weight: 800;
        letter-spacing: 2px;
        vertical-align: middle;
        font-size: 1.5rem;
        &:link, &:visited {
            color:$darkblue;
        }
    }
}
/* toggler used to open sidenav */
#sidenav-toggle {
    display: inline-block;
    position: fixed;
    z-index: 2;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    &:hover {
        cursor: pointer;
    }
    .traco1, .traco2, .traco3 {
        position: absolute;
        width: 100%;
        height: 3px;
        background: $red;
        border-radius: 4px;
        transition-duration: 0.5s;
    }
    .traco1 {
        top: 0;
    }
    .traco2 {
        top: 50%;
    }
    .traco3 {
        bottom: 0;
    }
    &.abreFechaMenu {
        .traco1, .traco3 {
            background: $onyx;
        }
        .traco1 {
            top: 50%;
            @include transform(45deg);
        }
        .traco2 {
            background: rgba(0,0,0,0.0);
        }
        .traco3 {
            top: 50%;
            @include transform(315deg);
        }
    }
}

.navbarLateral {
    height: 100%;
    width: 190px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -190px;
    background: $red;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 1.5px 0px rgba(0,0,0,0.1);

    hr {
        background: white;
    }
    ul {
        margin: {
            top: 80px;
        }
        padding-left: 0;
        li {
            letter-spacing: 1.2px;
            font-weight: 500;
            list-style: none;
            cursor: pointer;
            padding: {
                top: 1rem;
                bottom: 1rem;
            }
            &:hover {
                background: white;
                a {
                    color: $onyx;
                }
            }
            a {
                margin-left: 1rem;
                font-size: 1.2rem;
                color: white;
                text-decoration: unset;
            }
        }
    }
}