.post {
    word-break:break-word;
    word-wrap: break-word;
    .post-body {
        p {text-align: justify;}
    }
}
.post-header {
    padding: {
        bottom: 64px;
    }
}
.header-header {
    display: flex;
    flex-direction: column;
}
.header-meta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    div {
        margin-right: 30px;
    }
}
.after-content {
    position: relative;
    background: rgba(0,0,0,0.02);
}
.share-title {
    position: relative;
    display: block;
    width: 90px;
    top: 25px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    color: rgba(0,0,0,0.5);
}
.post-social {
    position: relative;
    list-style: none;
    padding: {
        top: 3rem;
        bottom: 3rem;
    }
    min-height: 1rem;
    text-align: center;
    li {
        display: inline;
        vertical-align: middle;
        margin-right: 0.5rem;
        a {
            font-size: 1.2rem;
            &, &:hover {color: rgba(0,0,0,0.5);}
        }
    }
}
.post-comments {
    min-height: 2rem;
    padding-bottom: 3rem;
}
.docs {
    display: flex;
    flex-direction: row;
    align-items: center;
    .doc-item {
        font: {size: 40px;}
        margin: 0 15px 0 0;
        &:link, &:visited {color: rgba(0,0,0,0.5);}
        &:hover {color: rgba(0,0,0,0.8);}
    }
}