main > div {
    position: relative;
    margin-top:7rem;
}
.post {
    margin-bottom: 2rem;
    border-radius: 4px;

    /* summary in the index page */
    h3 > a, h6, .summary {
        color: $onyx;
    }
    .summary-header {
        a {
            &:hover {
                color: $onyx;
            }
        }
    }
    .summary {
        text-align: justify;
    }

    /* post page */
    .post-header {
        margin-bottom: 1.4rem;
        a {
            &:link, &:hover {
                color: rgba(0,0,0,0.8);
            }
        }
        p {
            color: rgba(0,0,0,0.5);
        }
        .post-header-author-img {
            position: relative;
            float: left;
            margin-right: 8px;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background: gray;
        }
    }
    .post-body {
        p {
            text-align: justify;
        }
    }
}
.post-social {
    position: relative;
    list-style: none;
    padding: 1rem;
    background: #ffffff;
    min-height: 1rem;
    text-align: center;
    
    li {
        display: inline;
        vertical-align: middle;
        margin-right: 0.5rem;
        a {
            font-size: 1.2rem;
        }
    }
}

.pagination {
    a {
        color: #313138;
        &:hover {
            color: #313138;
        }
    }
}