.post {
    padding: 1.5rem;
    margin-bottom: 2rem;
    background: white;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

    /* summary in the index page */
    a {
        text-decoration: none;
    }
    h3 > a, h6, .summary {
        color: $onyx;
    }
    .summary-header {
        a {
            &:hover {
                color: $onyx;
            }
        }
    }
    .summary {
        text-align: justify;
    }

    /* post page */
    .post-header {
        text-align: center;
        margin-bottom: 3rem;

        p {
            margin-top: 2rem;
            color: $gainsboro;
        }
    }
    .post-body {
        p {
            text-align: justify;
        }
    }
}
.post-social {
    background: #ffffff;
    min-height: 2rem;
}

.pagination {
    a {
        color: #313138;
        &:hover {
            color: #313138;
        }
    }
}