main.container-fluid {
    padding: {
        right: 0;
        left: 0;
    }
}
.content {
    margin-top:7rem;
    margin-bottom: 2rem;
}
.post {
    /* INDEX PAGE */
    h3 > a, h6, .summary {
        color: $onyx;
    }
    .summary-header {
        a {
            &:hover {
                color: $onyx;
            }
        }
    }
    .summary {
        text-align: justify;
    }

    /* POST PAGE */
    .post-header {
        margin-bottom: 1.4rem;
        a {
            &:link, &:hover {
                color: rgba(0,0,0,0.8);
            }
        }
        p {
            color: rgba(0,0,0,0.5);
        }
        .post-header-author-img {
            position: relative;
            float: left;
            margin-right: 8px;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background: gray;
        }
    }
    .post-body {
        p {
            text-align: justify;
        }
    }
}
.after-content {
    background: rgba(0,0,0,0.02);
}
.post-social {
    position: relative;
    list-style: none;
    padding: 1rem;
    min-height: 1rem;
    text-align: center;
    
    li {
        display: inline;
        vertical-align: middle;
        margin-right: 0.5rem;
        a {
            font-size: 1.2rem;
            &, &:hover {
                color: rgba(0,0,0,0.5);
            }
        }
    }
}
.post-comments {
    min-height: 2rem;
}

.pagination {
    a {
        color: #313138;
        &:hover {
            color: #313138;
        }
    }
}