.post {
    word-break:break-word;
    word-wrap: break-word;
    .post-body {
        p {text-align: justify;}
    }
}

.post-header {
    padding: {
        bottom: 64px;
    }
}

.header-header {
    display: flex;
    flex-direction: column;
}

.header-meta {
    display: grid;
    grid-template-columns: 60px min-content min-content;
    grid-template-rows: auto auto;
    grid-template-areas:
        "avatar created updated"
        ". author-name .";
    white-space: nowrap;
    row-gap: 8px;
    column-gap: 16px;
    color: #808080;
}

.header-author-img {
    grid-area: avatar;
}

.author-name-area {
    grid-area: author-name;

    a {
        &:link, &:visited, &:hover {
            color: #808080;
        }
    }
}

.created {
    grid-area: created;
}

.updated {
    grid-area: updated;
}

@media (min-width: 768px) {
    .header-meta {
        grid-template-columns: 80px min-content min-content min-content;
        grid-template-rows: auto;
        grid-template-areas:
            "avatar author-name created updated"
    }
}
.after-content {
    position: relative;
    background: rgba(0,0,0,0.02);
}
.share-title {
    position: relative;
    display: block;
    width: 90px;
    top: 25px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    color: rgba(0,0,0,0.5);
}
.post-social {
    position: relative;
    list-style: none;
    padding: {
        top: 3rem;
        bottom: 3rem;
    }
    min-height: 1rem;
    text-align: center;
    li {
        display: inline;
        vertical-align: middle;
        margin-right: 0.5rem;
        a {
            font-size: 1.2rem;
            &, &:hover {color: rgba(0,0,0,0.5);}
        }
    }
}
.post-comments {
    min-height: 2rem;
    padding-bottom: 3rem;
}
.docs {
    display: flex;
    flex-direction: row;
    align-items: center;
    .doc-item {
        font: {size: 40px;}
        margin: 0 15px 0 0;
        &:link, &:visited {color: rgba(0,0,0,0.5);}
        &:hover {color: rgba(0,0,0,0.8);}
    }
}