.social {
    .compartilhar {
        text-align: center;
        a {
            margin: {
                left: 1rem;
                right: 1rem;
            }
        }
    }
}

.fechado {
    height: 0;
    overflow: hidden;
}