// CONTATO
.social-flex-container {
    display: flex;
    flex-flow: row nowrap;
    padding: {
        top: 15px;
        bottom: 15px;
    }
    div {
        width: 25px;
        height: 25px;
        margin-right: 15px;
    }
    a:link, a:visited {
        color: gray;
    }
    a:hover {
        color: $darkblue;
    }
    i {
        font-size: 25px;
    }
}
.input-groups-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.formGroup {
    margin-bottom: 15px;
    width: 100%;
    @include md {
        width: 40%;
    }
}
input {
    padding: 12px;
}
input, label, textarea {
    display: block;
    width: 100%;
}
#contactForm {
    button {
        background: rgba(255,255,255,1);
        outline-color: gray;
        border: 1px solid $darkblue;
        color: $darkblue;
        font-weight: 500;
        cursor: pointer;
        padding: {
            top: 0.5rem;
            bottom: 0.5rem;
            left: 1rem;
            right: 1rem;
        }
        &:hover {
            background: $darkblue;
            color: rgba(255,255,255,1);
        }
    }
}

/* PAGINA PRINCIPAL */
.preview {
    margin-bottom: 1rem;
}
.preview-img {
    padding: {
        right: 0;
        left: 0;
    }
    height: 220px;
    background: rgba(0,0,0,0.5);

    img {
        height: 100%;
        object-fit: cover;
    }
}
.preview-title, .preview-author {
    display: block;
}
.preview-title {
    font: {
        weight: 600;
    }
    &, &:hover {
        color: rgba(0,0,0,1);
    }
}
.summary {
    height: 132px;
    text-align: justify;
}
.ler-mais {
    text-align: center;
    a {
        font-weight: 500;
        border: 1px solid $red;
        &:link, &:visited {
            text-decoration: none;
            color: $red;
        }
        &:hover {
            background: $red;
            color: rgba(255,255,255,1);
        }
        padding: {
            top: 5px;
            bottom: 5px;
            left: 8px;
            right: 8px;
        }
    }
}
.pagination {
    a {
        color: #313138;
        &:hover {
            color: #313138;
        }
    }
}
.sidebar {
    .sidebar-header {
        width: 150px;
        padding-bottom: 5px;
        /* margin: {
            left: auto;
            right: auto;
        } */
        color: $darkblue;
        border-bottom: 3px solid $red;
        font: {
            weight: 600;
            size: 21px;
        }
    }
}
.author-index-page {
    // text-align: center;
    padding: {
        left: 15px;
        right: 15px;
    }
    p {
        font: {
            size: 13px;
        }
    }
}
