// AUTOR
.author-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}
.author-resume {
    flex-basis: 100%;
    flex-grow: 0;
}
.lattes {
    font-size: 24px;
}
.avatar-img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
@media screen and (min-width: 576px) {
    .author-info {flex-wrap: nowrap;}
    .avatar-container {margin-right: 15px;}
}
/* Video */
.videos-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.video-container {
    width: 100%;
    margin-bottom: 25px;
    @include sm {
        width: 290px;
        margin-right: 25px;
    }
}
// CONTATO
.social-flex-container {
    display: flex;
    flex-flow: row nowrap;
    padding: {
        top: 15px;
        bottom: 15px;
    }
    div {
        width: 25px;
        height: 25px;
        margin-right: 15px;
    }
    a:link, a:visited {color: gray;}
    a:hover {color: $darkblue;}
    i {font-size: 25px;}
}
.input-groups-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.formGroup {
    margin-bottom: 15px;
    width: 100%;
    @include md {width: 40%;}
}
input {padding: 12px;}
input, label, textarea {
    display: block;
    width: 100%;
}
#contactForm {
    button {
        background: rgba(255,255,255,1);
        outline-color: gray;
        border: 1px solid $darkblue;
        color: $darkblue;
        font-weight: 500;
        cursor: pointer;
        padding: {
            top: 0.5rem;
            bottom: 0.5rem;
            left: 1rem;
            right: 1rem;
        }
        &:hover {
            background: $darkblue;
            color: rgba(255,255,255,1);
        }
    }
}
/* PAGINA PRINCIPAL */
.publication-section {margin-bottom: 32px;}
.publication-section-title {
    color: $darkblue;
    margin-bottom: 1rem;
}
.preview {
    margin-bottom: 1rem;
}
.preview-img {
    padding: {
        right: 0;
        left: 0;
    }
    text-align: center;
    height: 220px;
    background: rgba(0,0,0,0.02);
    img {
        height: 100%;
        object-fit: cover;
    }
}
.preview-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: .5rem;
    @include xl {
        margin-top: 0;
    }
}
.preview-title, .preview-author {display: block;}
.preview-title {
    font: {weight: 600;}
    &:link, &:visited {color: $dark-light-blue;}
}
.preview-title:hover {color: $light-blue;}
.ler-mais {
    text-align: center;
    margin-top: 5px;
    a {
        font-weight: 500;
        border: 1px solid $light-blue;
        &:link, &:visited {
            text-decoration: none;
            color: $light-blue;
        }
        &:hover {
            background: $light-blue;
            color: rgba(255,255,255,1);
        }
        padding: {
            top: 5px;
            bottom: 5px;
            left: 16px;
            right: 16px;
        }
    }
}
.pagination {
    a {
        color: #313138;
        &:hover {color: #313138;}
    }
}
.sidebar-section {
    display: flex;
    flex-direction: column;
}
.sidebar-h {
    color: $darkblue;
}
.autor-do-blog {
    width: 100%;
    color: $darkblue;
    text-align: center;
    border-top: 1px solid $light-blue;
    margin-bottom: .3rem;
}
.sidebar-author {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
    img {margin-bottom: .2rem;}
}
.sidebar-analytics {
    display: flex;
    flex-direction: column;
    align-items: center;

    .userCounter {
        font-size: 32px;
    }
}
.author-name:link,
.author-name:visited {
    color: rgba(0,0,0,0.7);
    text-decoration: none;
    &:hover {color: rgba(0,0,0,1);}
}