// font family
$roboto:'Roboto', serif;
$playfair:'Playfair Display', serif;
$raleway: 'Raleway', sans-serif;
$lora: 'Lora', serif;

// colors
$vermelhoClaro:rgba(204, 72, 72, 0.986);
$cinzaEscuro:#424242;
$cinzaClaro:#7c7c7c;
// color pallet
$clearblack: #313138;
$clearred: #D83E3E;
$cleargreen: #16CC6B;
$clearyellow: #DBEA31;
$clearorange: #EA7938;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;