// font family
$playfair:'Playfair Display', serif;
// colors
$red: #D83E3E;
$onyx: #313638;
$darkblue: #253069;
$dark-light-blue: #2E44B5;
$light-blue: #5262B5;
// Screen breakpoints
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
// max-widths for each breakpoint
$max-w-xl: 1140px;
$max-w-lg: 960px;
$max-w-md: 720px;
$max-w-sm: 540px;