.container-fluid, .container {
    width: 100%;
    padding: {
        left: 15px;
        right: 15px;
    }
    margin: {
        right: auto;
        left: auto;
    }
}
@each $breakpoint, $max-w in
($screen-xl-min, $max-w-xl),
($screen-lg-min, $max-w-lg),
($screen-md-min, $max-w-md),
($screen-sm-min, $max-w-sm) {
    @media screen and (min-width: $breakpoint) {
        .container {
            max-width: $max-w;
        }
    }
}